<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <a class="footer__logo" href="#"><img src="images/logo.png" /></a>
      <ul class="nav">
        <li class="nav__item"><a class="nav__link" href="#">Finance </a></li>
        <li class="nav__item"><a class="nav__link" href="#">Export</a></li>
        <li class="nav__item">
          <a class="nav__link" href="#">Goverenment</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#">Politics</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Markets</a></li>
        <li class="nav__item">
          <a class="nav__link" href="#">Monitorinng</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Top Exporter</a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p class="footer__rights">
        Все права защищены в порядке, установленном законодательством Республики
        Узбекистан о средствах массовой информации и авторских и смежных правах.
        Свидетельство: №1386. Дата выпуска: 02.12.2020г.
      </p>
      <div class="footer__icons">
        <div class="footer__social">
          <svg
            width="36"
            height="36"
            viewbox="0 0 36 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.2"
              d="M18.04 35.08C13.52 35.0781 9.18586 33.2815 5.99045 30.0854C2.79504 26.8893 1 22.5553 1 18.0363V18.0363C1 13.518 2.79528 9.18476 5.9909 5.98983C9.18652 2.79489 13.5207 1 18.04 1C22.5593 1 26.8935 2.79489 30.0891 5.98983C33.2847 9.18476 35.08 13.518 35.08 18.0363V18.0363C35.08 22.5553 33.2849 26.8893 30.0895 30.0854C26.8941 33.2815 22.56 35.0781 18.04 35.08V35.08Z"
              stroke="white"
              stroke-miterlimit="10"
            />
            <path
              opacity="0.8"
              d="M11.9053 21.9961C13.0084 22.7206 14.2839 23.1198 15.5926 23.1503C16.9014 23.1808 18.1931 22.8414 19.3271 22.169C20.461 21.4967 21.3936 20.5172 22.0231 19.3374C22.6526 18.1576 22.9549 16.8228 22.897 15.4785C23.3967 15.1128 23.8292 14.6586 24.1741 14.1372C23.716 14.3487 23.2287 14.486 22.7297 14.5442C23.2584 14.2242 23.6551 13.7165 23.845 13.1168C23.3515 13.4174 22.8124 13.6305 22.2501 13.7474C21.8726 13.3318 21.3722 13.0561 20.8265 12.963C20.2808 12.87 19.7205 12.9648 19.2327 13.2329C18.7449 13.5009 18.3569 13.9271 18.1291 14.4451C17.9012 14.9632 17.8463 15.5441 17.9728 16.0976C16.9735 16.0477 15.9958 15.7821 15.1031 15.3179C14.2105 14.8537 13.423 14.2014 12.792 13.4034C12.4722 13.9713 12.3749 14.643 12.5199 15.282C12.665 15.921 13.0414 16.4791 13.5727 16.8428C13.1817 16.8267 12.7997 16.7167 12.4574 16.5218C12.4508 17.1229 12.6482 17.7075 13.0156 18.1751C13.3831 18.6428 13.8975 18.9642 14.4706 19.0841C14.1065 19.1832 13.7258 19.1988 13.3552 19.13C13.5141 19.6427 13.8257 20.0913 14.2459 20.4122C14.6662 20.7331 15.174 20.9102 15.6974 20.9184C15.1686 21.3513 14.56 21.6699 13.9084 21.8551C13.2567 22.0403 12.5754 22.0883 11.9053 21.9961Z"
              fill="white"
            />
          </svg>
          <svg
            width="36"
            height="36"
            viewbox="0 0 36 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.2"
              d="M17.6796 35.08C13.1604 35.08 8.82617 33.2847 5.63055 30.0891C2.43493 26.8935 0.639648 22.5593 0.639648 18.04V18.04C0.639648 13.5207 2.43493 9.18652 5.63055 5.9909C8.82617 2.79528 13.1604 1 17.6796 1V1C22.1989 1 26.5331 2.79528 29.7287 5.9909C32.9244 9.18652 34.7197 13.5207 34.7197 18.04V18.04C34.7197 20.2777 34.2789 22.4935 33.4226 24.5609C32.5662 26.6283 31.311 28.5068 29.7287 30.0891C28.1464 31.6714 26.268 32.9266 24.2006 33.7829C22.1332 34.6393 19.9174 35.08 17.6796 35.08V35.08Z"
              stroke="white"
              stroke-miterlimit="10"
            />
            <path
              opacity="0.8"
              d="M15.3765 27.1722H19.0441V17.959H21.6042L21.8829 14.8782H19.0441V13.125C19.0441 12.3915 19.1835 12.1128 19.8877 12.1128H21.8829V8.91455H19.3302C16.5941 8.91455 15.3618 10.1175 15.3618 12.4208V14.8855H13.4473V18.003H15.3618L15.3765 27.1722Z"
              fill="white"
            />
          </svg>
          <svg
            width="36"
            height="36"
            viewbox="0 0 36 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.2"
              d="M18.3166 35.08C13.7976 35.0781 9.46438 33.2815 6.26966 30.0854C3.07494 26.8893 1.28027 22.5553 1.28027 18.0363V18.0363C1.28027 13.518 3.07517 9.18476 6.2701 5.98983C9.46503 2.7949 13.7983 1 18.3166 1C20.5545 0.999038 22.7706 1.43899 24.8384 2.29471C26.9062 3.15044 28.7851 4.40517 30.3679 5.98723C31.9506 7.5693 33.2061 9.44769 34.0628 11.5151C34.9194 13.5825 35.3603 15.7985 35.3603 18.0363V18.0363C35.3603 22.5566 33.5646 26.8917 30.3683 30.088C27.172 33.2843 22.8369 35.08 18.3166 35.08V35.08Z"
              stroke="white"
              stroke-miterlimit="10"
            />
            <g opacity="0.8">
              <path
                d="M18.316 11.2456C20.5161 11.2456 20.7948 11.2456 21.6675 11.2969C22.1936 11.3015 22.7149 11.3983 23.2076 11.5829C23.565 11.7151 23.8882 11.9256 24.1536 12.199C24.428 12.4679 24.6406 12.7932 24.777 13.1523C24.9579 13.6461 25.0546 14.1667 25.063 14.6924C25.063 15.5651 25.107 15.8292 25.107 18.0366C25.107 20.2441 25.107 20.5154 25.063 21.3882C25.0546 21.9139 24.9579 22.4345 24.777 22.9283C24.6354 23.2825 24.4232 23.6043 24.1534 23.8741C23.8836 24.1439 23.5618 24.356 23.2076 24.4977C22.7139 24.6786 22.1932 24.7753 21.6675 24.7837C20.7948 24.7837 20.5307 24.8277 18.316 24.8277C16.1012 24.8277 15.8445 24.8277 14.9718 24.7837C14.446 24.7753 13.9254 24.6786 13.4317 24.4977C13.0774 24.356 12.7556 24.1439 12.4858 23.8741C12.216 23.6043 12.0039 23.2825 11.8622 22.9283C11.6813 22.4345 11.5846 21.9139 11.5762 21.3882C11.5396 20.5154 11.5322 20.2514 11.5322 18.0366C11.5322 15.8218 11.5322 15.5651 11.5762 14.6924C11.5846 14.1667 11.6813 13.6461 11.8622 13.1523C11.9986 12.7932 12.2113 12.4679 12.4856 12.199C12.751 11.9256 13.0743 11.7151 13.4317 11.5829C13.9244 11.3983 14.4456 11.3015 14.9718 11.2969C15.8445 11.2969 16.1085 11.2456 18.316 11.2456ZM18.316 9.77881C16.0718 9.77881 15.7858 9.77881 14.9058 9.83015C14.219 9.84116 13.5393 9.97015 12.8963 10.2115C12.3466 10.4276 11.8473 10.7547 11.4296 11.1723C11.012 11.59 10.6849 12.0893 10.4688 12.639C10.2268 13.2818 10.0977 13.9616 10.0875 14.6484C10.0435 15.5285 10.0361 15.8145 10.0361 18.0586C10.0361 20.3028 10.0361 20.5961 10.0875 21.4762C10.0985 22.1629 10.2275 22.8426 10.4688 23.4856C10.6849 24.0353 11.012 24.5346 11.4296 24.9523C11.8473 25.3699 12.3466 25.697 12.8963 25.9131C13.5403 26.1509 14.2194 26.2798 14.9058 26.2944C15.7858 26.3384 16.0718 26.3458 18.316 26.3458C20.5601 26.3458 20.8534 26.3458 21.7335 26.2944C22.4198 26.2798 23.0989 26.1509 23.7429 25.9131C24.2927 25.697 24.7919 25.3699 25.2096 24.9523C25.6272 24.5346 25.9543 24.0353 26.1704 23.4856C26.4118 22.8426 26.5408 22.1629 26.5518 21.4762C26.5958 20.5961 26.6031 20.3101 26.6031 18.0586C26.6031 15.8072 26.6031 15.5285 26.5518 14.6484C26.5415 13.9616 26.4125 13.2818 26.1704 12.639C25.9543 12.0893 25.6272 11.59 25.2096 11.1723C24.7919 10.7547 24.2927 10.4276 23.7429 10.2115C23.0999 9.97015 22.4202 9.84116 21.7335 9.83015C20.8534 9.78615 20.5674 9.77881 18.316 9.77881Z"
                fill="white"
              />
              <path
                d="M18.3161 13.7832C17.4748 13.7832 16.6524 14.0327 15.9529 14.5001C15.2534 14.9675 14.7082 15.6318 14.3863 16.409C14.0643 17.1862 13.9801 18.0415 14.1442 18.8666C14.3084 19.6917 14.7135 20.4496 15.3083 21.0445C15.9032 21.6394 16.6611 22.0445 17.4863 22.2086C18.3114 22.3728 19.1666 22.2885 19.9439 21.9666C20.7211 21.6446 21.3854 21.0994 21.8528 20.4C22.3202 19.7005 22.5697 18.8781 22.5697 18.0368C22.5697 16.9087 22.1215 15.8267 21.3238 15.029C20.5261 14.2313 19.4442 13.7832 18.3161 13.7832ZM18.3161 20.8016C17.7693 20.8016 17.2347 20.6395 16.78 20.3357C16.3254 20.0318 15.971 19.6 15.7617 19.0948C15.5525 18.5896 15.4977 18.0337 15.6044 17.4974C15.7111 16.9611 15.9744 16.4684 16.3611 16.0818C16.7477 15.6951 17.2404 15.4318 17.7767 15.3251C18.313 15.2184 18.8689 15.2732 19.3741 15.4824C19.8793 15.6917 20.3112 16.046 20.615 16.5007C20.9188 16.9554 21.0809 17.49 21.0809 18.0368C21.0809 18.3999 21.0094 18.7594 20.8705 19.0948C20.7315 19.4303 20.5279 19.7351 20.2711 19.9918C20.0144 20.2486 19.7096 20.4522 19.3741 20.5912C19.0387 20.7301 18.6792 20.8016 18.3161 20.8016Z"
                fill="white"
              />
              <path
                d="M23.6989 13.6215C23.6989 13.8194 23.64 14.0128 23.5297 14.1771C23.4195 14.3415 23.2628 14.4693 23.0797 14.5443C22.8966 14.6193 22.6953 14.6382 22.5015 14.5985C22.3076 14.5588 22.1299 14.4624 21.991 14.3214C21.8521 14.1805 21.7583 14.0014 21.7215 13.807C21.6847 13.6125 21.7066 13.4115 21.7843 13.2296C21.862 13.0476 21.9922 12.8928 22.1581 12.785C22.324 12.6772 22.5183 12.6212 22.7162 12.6241C22.9807 12.6241 23.2344 12.7292 23.4214 12.9163C23.6085 13.1033 23.7136 13.357 23.7136 13.6215"
                fill="white"
              />
            </g>
          </svg>
          <svg
            width="36"
            height="36"
            viewbox="0 0 36 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.2"
              d="M17.9563 35.08C13.4373 35.0781 9.10403 33.2815 5.90931 30.0854C2.71458 26.8893 0.919921 22.5553 0.919922 18.0363V18.0363C0.919922 13.518 2.71482 9.18476 5.90975 5.98983C9.10468 2.7949 13.4379 1 17.9563 1C20.1941 0.999038 22.4102 1.43899 24.478 2.29471C26.5458 3.15044 28.4248 4.40517 30.0075 5.98723C31.5903 7.5693 32.8458 9.44769 33.7024 11.5151C34.559 13.5825 34.9999 15.7985 34.9999 18.0363V18.0363C34.9999 22.5566 33.2043 26.8917 30.0079 30.088C26.8116 33.2843 22.4765 35.08 17.9563 35.08V35.08Z"
              stroke="white"
              stroke-miterlimit="10"
            />
            <g opacity="0.8" clip-path="url(#clip0)">
              <path
                d="M15.7915 21.0606L18.068 22.7659L21.79 25.5203C22.4726 25.9047 22.9535 25.7022 23.1376 24.8857L25.5807 13.3176L25.5814 13.317C25.7979 12.2973 25.2165 11.8986 24.5514 12.1487L10.191 17.7044C9.21091 18.0888 9.22575 18.6409 10.0244 18.8911L13.6958 20.045L22.2237 14.6529C22.625 14.3843 22.9899 14.5329 22.6898 14.8015L15.7915 21.0606Z"
                fill="white"
              />
            </g>
            <defs>
              <clippath id="clip0">
                <rect
                  width="16.188"
                  height="16.188"
                  fill="white"
                  transform="translate(9.43945 9.52002)"
                />
              </clippath>
            </defs>
          </svg>
        </div>
        <a href="#"
          ><img src="images/devCompany.png" alt="dev company logo"
        /></a>
      </div>
    </div>
  </div>
</footer>
