<header class="header">
  <section class="header-top">
    <div class="container">
      <div class="header-top__inner">
        <div class="header-top__link">
          <a class="header-top__link" href="#">About us </a>
          <a class="header-top__link" href="#">Contact us</a>
        </div>
        <div class="header-top__link">
          <a class="header-top__link" href="#"> Send article </a>
          <a class="header-top__link" href="#">Advertising on industria</a>
        </div>
      </div>
    </div>
  </section>
  <section class="header-bottom">
    <div class="container">
      <div class="header-bottom__inner">
        <a class="header__logo" href="#"
          ><img src="images/logo.png" alt="Logo"
        /></a>
        <ul class="nav">
          <li class="nav__item"><a class="nav__link" href="#">Finance </a></li>
          <li class="nav__item"><a class="nav__link" href="#">Export</a></li>
          <li class="nav__item">
            <a class="nav__link" href="#">Goverenment</a>
          </li>
          <li class="nav__item"><a class="nav__link" href="#">Politics</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Markets</a></li>
          <li class="nav__item">
            <a class="nav__link" href="#">Monitorinng</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Top Exporter</a>
          </li>
          <li class="nav__search">
            <input class="nav__search-input" type="text" />
            <svg
              class="nav__searchI"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewbox="0 0 30.239 30.239"
              xml:space="preserve"
            >
              <g>
                <path
                  d="M20.194,3.46c-4.613-4.613-12.121-4.613-16.734,0c-4.612,4.614-4.612,12.121,0,16.735
		c4.108,4.107,10.506,4.547,15.116,1.34c0.097,0.459,0.319,0.897,0.676,1.254l6.718,6.718c0.979,0.977,2.561,0.977,3.535,0
		c0.978-0.978,0.978-2.56,0-3.535l-6.718-6.72c-0.355-0.354-0.794-0.577-1.253-0.674C24.743,13.967,24.303,7.57,20.194,3.46z
		 M18.073,18.074c-3.444,3.444-9.049,3.444-12.492,0c-3.442-3.444-3.442-9.048,0-12.492c3.443-3.443,9.048-3.443,12.492,0
		C21.517,9.026,21.517,14.63,18.073,18.074z"
                />
              </g>
            </svg>
          </li>
        </ul>
        <div class="burger-icon">
          <svg
            height="384pt"
            viewbox="0 -53 384 384"
            width="384pt"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"
            />
            <path
              d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"
            />
            <path
              d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"
            />
          </svg>
        </div>
      </div>
    </div>
  </section>
</header>
